@import "./../colors.scss";

.card {
  width: 93%;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
  margin: auto;
  margin-bottom: 4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  img {
    border-radius: 0.3rem;
    width: 100%;
  }
  .content {
    width: 90%;
    margin: auto;
    h3 {
      font-size: 1.15rem;
      font-weight: 500;
      color: $primary;
    }
    p {
      font-size: 0.98rem;
      margin-top: 0.2rem;
    }
    button {
      font-size: 1rem;
      border: 1px solid $primary;
      background-color: #fff;
      color: $primary;
      margin-top: 1rem;
      cursor: pointer;
      padding: 0.5rem;
      letter-spacing: 1px;
      border-radius: 0.3rem;
      width: 100%;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}
