@import "./../colors.scss";

.profileContainer {
  max-width: 1100px;
  width: 95%;
  margin: 5rem auto;
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
    margin: 4rem auto;
  }
  .left {
    width: 60%;
    margin-right: 1.5rem;
    .noPosts {
      text-align: center;
      margin-top: 3rem;
      h3 {
        font-size: 1.5rem;
      }
    }
    @media (max-width: 900px) {
      width: 100%;
      margin: 0;
    }
  }
  .about {
    height: 100%;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    padding: 0.8rem 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    @media (max-width: 900px) {
      margin-bottom: 1.8rem !important;
    }
    h4 {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    .info {
      margin-top: 0.8rem;
      .icon {
        margin-right: 0.8rem;
        width: 1rem;
        @media (max-width: 768px) {
          font-size: 1.1rem;
        }
      }
    }
    .info.social {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      margin-left: 0.3rem;
      a {
        margin-right: 0.6rem;
        .icon {
          width: 1.5rem !important;
          cursor: pointer;
          color: #000;
          @media (max-width: 768px) {
            width: 1.2rem !important;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media (max-width: 900px) {
      width: 100%;
      margin: 1rem 0 0;
    }
    @media (max-width: 800px) {
      width: 100%;
      margin: 11.5rem 0 0;
    }

    .pitch {
      margin-top: 1.2rem;
      button {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.1rem;
        padding: 0.8rem;
        background-color: $primary;
        color: #fff;
        letter-spacing: 1px;
        border-radius: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
