@import "./colors.scss";

.container {
  max-width: 1200px;
  width: 95%;
  margin: 7rem auto;
  .title {
    text-align: center;
    color: $primary;
    margin-bottom: 3.5rem;

    h2 {
      display: inline-block;
      font-size: 2.8rem;
      font-weight: 400;
      border-bottom: 1px solid $primary;
      // padding-bottom: 0.5rem;
      position: relative;

      .right,
      .left {
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $primary;
        border-radius: 50%;
        top: 95%;

        @media (max-width: 900px) {
          top: 93%;
        }
        @media (max-width: 768px) {
          top: 92%;
        }
        @media (max-width: 400px) {
          top: 90%;
        }
      }
      .right {
        right: -2%;
      }
      .left {
        left: -2%;
      }
      @media (max-width: 900px) {
        font-size: 2.3rem;
      }
      @media (max-width: 768px) {
        font-size: 2rem;
      }
      @media (max-width: 640px) {
        font-size: 1.8rem;
      }
    }
  }
}
