@import "./colors.scss";

.container {
  max-width: 1230px;
  width: 90%;
  margin: 1rem auto;
  position: relative;
  h1 {
    color: $primary;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .wrapper {
    display: flex;
    margin-top: 1rem;
    position: relative;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    .posts {
      width: 70%;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
    .investors {
      margin-left: 1.5rem;
      @media (max-width: 900px) {
        margin-left: 0;
      }
      h3 {
        font-weight: 500;
        @media (max-width: 900px) {
          font-size: 1.4rem;
        }
      }
      .investorsList {
        margin-top: 1rem;
        .investor {
          display: flex;
          margin-bottom: 1rem;
          cursor: pointer;
          img {
            width: 3.8rem;
            height: 3rem;
            border-radius: 0.3rem;
            object-fit: cover;
            @media (max-width: 900px) {
              width: 5rem;
              height: 5rem;
            }
          }
          p {
            font-weight: 600;
            font-size: 0.9rem;
            margin-left: 0.8rem;
            @media (max-width: 900px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
