@import "./colors.scss";

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2.5rem;
  @media (max-width: 900px) {
    margin-bottom: 1.8rem;
  }
  .profileTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .name {
      display: flex;
      .meta {
        margin-left: 0.6rem;
        p {
          cursor: pointer;
          font-weight: 600;
        }

        .date {
          font-weight: 500;
          color: $support;
          font-size: 0.8rem;
        }
      }
    }
    .actionsWrapper {
      display: flex;
      align-items: center;
      .actions {
        .icon {
          cursor: pointer;
          width: 0.9rem;
        }
        .icon.delete {
          color: red;
        }
        .icon.edit {
          color: $primary-dark;
          width: 1.2rem;
          margin-left: 1rem;
        }
      }
    }
    .profileImg {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      clip-path: circle();
      cursor: pointer;
    }
  }

  .details {
    padding: 0 1.5rem 1.5rem;
    @media (max-width: 900px) {
      padding: 0 1rem 1rem 1rem;
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 500;
      cursor: pointer;
      @media (max-width: 768px) {
        font-size: 1.1rem;
      }
    }
    img {
      cursor: pointer;
      margin-top: 0.6rem;
      width: 100%;
      border-radius: 0.3rem;
    }
    p {
      margin-top: 0.6rem;
      line-height: 1.5;
    }

    .link {
      margin-top: 1rem;
      color: $primary;
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      font-size: 0.95rem;
      cursor: pointer;
      padding: 0.3rem 0.5rem;
      letter-spacing: 1px;
      border-radius: 0.3rem;
      transition: all 0.2s ease-in-out;
      padding-left: 0;
      &:hover {
        background-color: $primary;
        color: #fff;
        font-weight: 500;
        padding-left: 0.5rem;
      }
      .icon {
        width: 1rem;
        margin-left: 0.8rem;
      }
    }
  }
}
