@import "./colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.3);
  @media (max-width: 500px) {
    padding: 1rem;
  }
  .brand {
    cursor: pointer;
    .logo {
      font-size: 1.6rem;
      @media (max-width: 500px) {
        font-size: 1.4rem;
      }
      span {
        color: $primary;
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    .link {
      margin-left: 3rem;
      @media (max-width: 500px) {
        margin-left: 1rem;
      }
      a,
      p {
        color: $support;
        font-size: 0.95rem;
        font-weight: 400;
        user-select: none;
        @media (max-width: 500px) {
          font-size: 0.9rem;
        }
        a {
          text-decoration: none;
          cursor: pointer;
          color: $primary;
          font-weight: 600;
        }
      }
    }
  }
}
