@import "./colors.scss";

.container {
  max-width: 1200px;
  width: 90%;
  margin: 1.5rem auto 3rem;
  display: flex;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  .main {
    flex: 1;
    .imgWrapper {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .titleWrapper {
      margin-top: 1.5rem;
      display: flex;
      margin-right: 1.5rem;
      iframe {
        border: none;
        width: 45%;
        @media (max-width: 768px) {
          display: none;
          margin-right: 0;
        }
      }
      .info {
        padding-bottom: 2rem;
        @media (max-width: 768px) {
          width: 100%;
        }
        .categories {
          display: flex;
          gap: 0.5rem;
          p {
            text-decoration: none;
            color: $primary;
            font-size: 0.8rem;
            background-color: rgb(228, 228, 228);
            padding: 0.2rem 0.8rem;
            text-transform: capitalize;
          }
        }
        h1 {
          margin-top: 1rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
          @media (max-width: 1150px) {
            font-size: 1.3rem;
          }
        }

        .subInfo {
          display: flex;
          align-items: flex-start;
          margin-top: 1rem;
          @media (max-width: 768px) {
            flex-direction: column;
          }
          .address {
            width: 50%;
            @media (max-width: 1150px) {
              font-size: 0.9rem;
            }
          }
          .linksWrapper {
            width: 40%;
            margin-left: 1rem;
            @media (max-width: 1150px) {
              margin-left: 0.3rem;
            }
            @media (max-width: 768px) {
              margin-left: 0;
              margin-top: 1.5rem;
            }
            p {
              font-size: 0.9rem;
              color: $support;
            }
            .links {
              margin-top: 0.6rem;
              display: flex;
              align-items: center;
              gap: 1rem;
              .icon {
                width: 1.2rem;
                cursor: pointer;
                color: #268dfc;
              }
            }
          }
        }
      }
    }

    .content {
      margin-top: 3rem;
      @media (max-width: 768px) {
        margin-top: 1rem;
      }
      h2 {
        font-size: 1.8rem;
        font-weight: 600;
      }
      article {
        margin-top: 1rem;
      }
    }
  }
  .side {
    height: 50vh;
    flex: 0.4;
    margin-left: 1.5rem;
    position: sticky;
    top: 1rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    @media (max-width: 1100px) {
      flex: 0.45;
    }
    @media (max-width: 1000px) {
      flex: 1;
      margin-left: 0;
      margin-top: 2rem;
    }
  }
}
